body{
    background: #000;
}

h1{
    font-size: 100px;
    text-align: center;
}

.burn{
    background-image: url(https://th.bing.com/th/id/OIP.LzDFYZORC1bFyQi8ae4HVgHaEK?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

img{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto 70px auto;
    display: block;
    /* box-shadow: 2px 2px 20px cyan; */
    filter: drop-shadow(2px 2px 20px cyan);
}